@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

:root {
  --bg: #1E1F26;
  --bg-dark: #19191d;
  --surface: #23242B;

  --shadow-light: #2A2B33;
  --shadow-dark: #14151A;

  --text: #E4E6EB;
  --text-in: #94a3b8;;

  --accent: #6D8CFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;

    background: radial-gradient(circle at top, #1e293b 0%, #0f172a 60%);
    font-family: "Federant", sans-serif;
    overflow:hidden;
}

body::before{
    content:"";
    position:absolute;
    top:-200px;
    width:600px;
    height:600px;
    background: radial-gradient(circle, rgba(255,0,76,0.25), transparent 70%);
    filter: blur(120px);
}