@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

:root {
  --bg: #1E1F26;
  --bg-dark: #19191d;
  --surface: #23242B;

  --shadow-light: #2A2B33;
  --shadow-dark: #14151A;

  --text: #E4E6EB;
  --text-in: #94a3b8;;

  --accent: #6D8CFF;
}

body{

    .federant-regular {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}

    margin: 0;
    height: 100vh; width: 100vw;
    /* background: linear-gradient(to bottom, #000000, #0f0c29, #302b63); */
    /* background: linear-gradient( #000000 20%, #2c0938 100%); */
    background-color: #14151A;
    color: var(--text);
    user-select: none;
}

body::before {
    content: "";
    margin: 0;
    height: 100vh; width: 100vw;
    position: absolute;
    top: -400px; left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(
        ellipse at center,
        rgba(80, 140, 255, 0.35) 0%,
        rgba(40, 80, 160, 0.11) 30%,
        rgba(0, 0, 0, 0) 70%
    );
    filter: blur(80px);
    pointer-events: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    height: 600px;
    width: 400px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}



label{
    font-family: "Federant", serif;
    border-radius: 20px;
    line-height: 3;
    margin-left: 30px;
}


/* Login Button */
button{
    display: flex;
    margin-left: 22px;
    height: 50px;
    width: 360px;
    align-items: center;
    justify-content: center;
    background-color:crimson; 
    border-radius: 30px;
    color: white;
    border:none;
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    transition: all 0.3s ease;
}

button:hover{
    transform: translateY(-6px);  /* 🔼 lift effect */

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.4),
        0 0 15px crimson,
        0 0 30px rgba(220, 20, 60, 0.6);
}

h1{
    text-align: center;
    gap: 20px 20px 20px 20px;
    font-family: "Federant";
    font-weight: px;
}

input{
    margin-left: 20px;
    height: 40px;
    width: 350px;
    border-radius:25px;
    border: none;
    background: var(--surface);
    color: var(--text);
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease;
}


h4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 2;
    margin-top: -4px;

    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: px;
}
a{
    margin-left: 4px;
    text-decoration: none;
    color: rgb(210, 44, 44);
}

input:hover {
    transform: translateY(-6px);  /* 🔼 lift effect */

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.4),
        0 0 15px crimson,
        0 0 30px rgba(220, 20, 60, 0.6);
}

.Signin{
    display: flex;
    align-items: center;
    justify-items: space-evenly;
}
button.signin{
    border-radius: 10px;
    background-color: #E4E6EB;
    width: 150px;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 14px;
    font-family: noto;
}

i{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    color: #14151A;
    
}   